extends layout 

block content 
    h1= title 
    p Do you really want to delete this Book Instance 

    form(method="POST", action="")
        .form-group 
            input#bookinstance.form-control(type="hidden" name="bookinstance" required="true" value="authorid")
        button.btn.btn-primary(type="submit") Delete